.content{
    height: 50rem;
    width:30rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: "Hanken Grotesk";
    font-size: smaller;
}
#border-shadow{
display: flex;
justify-content: center;
box-shadow: 12px 12px 20px aliceblue;
border-radius: 20px;
}
div > .first{
    height:25rem;
    width: 15rem;
    background: rgb(51, 46, 146);
    background: linear-gradient(0deg, rgb(51, 45, 233) 0%, rgba(103,67,255,1) 80%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: aliceblue;
    
}
#orb{
    background: rgb(51, 46, 146);
    background: linear-gradient(0deg, rgb(71, 61, 219) 0%, rgb(73, 42, 158) 80%);
    border-radius: 50%;
    height:10rem;
    width:10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
/* text stuff */
#bottomtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 12rem;
    text-align: center;
}
#seventysix{
    font-size: 4rem;
    margin: 0;
}
#tinySeventysix{
    margin:0;
    color: rgb(100, 116, 167);
}
/* second card */
div > .second{    
    height:25rem;
    width:15rem;
    z-index: 0;
    border-radius: 20px;

}


/* second card items */
div > #secContent{
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#summary{
    align-self: flex-start;
    font-style: italic;
}

.rating{
    display: flex;
}
/* red */
#red{
    
    background-color: rgb(255, 238, 238);
    width: 13rem;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: left;
    justify-content: space-between;
    color: rgb(197, 5, 5);
    margin-bottom: 5px;
}
.hItem{align-self: flex-start;}
.pItem{
    align-self:flex-end;
    color:black;
}
.bold{
    font-weight: bold;
}

/* yellow */
#yellow{
    background-color: rgb(255, 250, 230);
    width: 13rem;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: left;
    justify-content: space-between;
    color: rgb(206, 178, 22);
    margin-bottom: 5px;
}

/* green */
#green{
    background-color: rgb(229, 255, 226);
    width: 13rem;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: left;
    justify-content: space-between;
    color: rgb(125, 187, 0);
    margin-bottom: 5px;
}

/* blue */
#blue{
    background-color: rgb(233, 229, 255);
    width: 13rem;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: left;
    justify-content: space-between;
    color: rgb(13, 0, 128);
    margin-bottom: 5px;
}

#continue{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    background: rgb(51, 46, 146);
    background: linear-gradient(0deg, rgb(71, 61, 219) 0%, rgb(73, 42, 158) 80%);
    border-radius: 50px;
    color: aliceblue;
}

/* attribution */
.attribution{
 display: inline-block;
}

@media (max-width: 480px) {
    .content{
        flex-direction: column;
    }
}